body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rowForm {
  height:3em;

}



.headerLu4dq{
  /*background-image: url("headerLu4dq.png");*/
  
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
  height: 4.0em;
  background-color: #26abd3;
}

.footerLu4dq{
  background-image: url("footerLu4dq.png");
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  

}
.subHeader{
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #abbdc2;
  

}
