body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rowForm {
  height:3em;

}



.headerLu4dq{
  /*background-image: url("headerLu4dq.png");*/
  
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
  height: 4.0em;
  background-color: #26abd3;
}

.footerLu4dq{
  position: fixed;
  bottom:0;
  right:0;
  height:480px;
  width:480px;
  opacity: 40%;
  background-image: url("footerLu4dq.png");
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  

}
.subHeader{
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #abbdc2;
  

}

.navLu4dq{
  background-color:#092f3a;
  color:#abbdc2;
  font-weight: bold;
  font-size: large;
}
.navLu4dq a { color:#abbdc2 !important; }
.navLu4dq a:hover { color:#abbdc2 !important; }
.navLu4dq a:visited { color:#abbdc2 !important; }